.header{
  text-align: center;
  height: 10%;
  width: 100%;
  background-color: #a7ca56;
}

.cards-wrapper{
  margin-bottom: 1rem; /* Adds spacing between rows */
  margin-left: 0px; /*this*/
}

.page-footer{
      text-align: center;
      background-color: #a7ca56;
}

  /* Display bar 0px from right of screen. */
.cart-total-bar {
    margin: 0;
    right: 0px;
    bottom: 0px;
    height: 90%;
    text-align: center;
    padding: 20px;
    width: 25%;
    background-color: #fbac83;
    position: fixed;
    overflow: auto;
  }