.header{
  text-align: center;
  height: 10%;
  width: 100%;
  background-color: #a7ca56;
}

.center-body{
    text-align: center;
    margin-top: 15%; /*a*/
    width: 100%;
    height:100%;
    background-color: #85CCF0;
  }


.page-footer{
      text-align: center;
      background-color: #a7ca56;
}

/* Checkout Page */
/* .happy-cat-animation{

    left: 0px;
    //transform: scale
    background: url(cute-and-funny-little-cat-cartoon-illustration-vector.jpg);
  } */