/* Running it in live view makes the colors darker for some reason.... */

import styles.js; // for card hover.

.header{
  text-align: center;
  height: 10%;
  width: 100%;
  background-color: #a7ca56;
}

.cards-wrapper{
  margin-bottom: 1rem; /* Adds spacing between rows */
}

.page-footer{
      text-align: center;
      background-color: #a7ca56;
}



// Expand and display drinkInfo onhover.
.card {
  transition: transform 0.3s ease;
}

.card:hover {

  transform: scale(1.15); /*15% bigger*/

}
  

