// All pages use header and footer.

.header{
  text-align: center;
  height: 10%;
  width: 100%;
  background-color: #a7ca56;
}

.center-body{
    text-align: center;
    width: 100%;
    height:100%;
    background-color: #85CCF0;
  }


.page-footer{
      text-align: center;
      background-color: #a7ca56;
}